.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .ComponentBox {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Login {
  text-align: center;
} */
